    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>My name is Yair (pronounced like air with a y)! </p>
                <p>I am a Software Engineer and a Spring 2021 graduate from Kennesaw State University, BS in Computer Engineering.</p>
                <p>Follow along and view some interesting and cool projects, work, and research on <a href="https://github.com/serolfy">My Github.</a></p>
                <p>Feel free to reach out to me to discuss any of my projects or any opportunities!</p>
                <br/>
              </div>
        </div>
    </section>
